<div class="jumbotron text-center">
    <div class="mask">
        <div class="header-text">
            <h1 id="heading">Newsbook</h1>
            <h3 id="sub-heading">Wall Street Journal Edition</h3>
        </div>
    </div>
</div>