<footer class="footer text-center">
  <div class="container">
    <p class="branding">CJ Innovations, Copyright © 2018 <img class="logo" src="/img/myLogo.png" width="30" alt="logo"></p>
  </div>
</footer>

